@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.eot');
  src: url('../fonts/Gotham-Book.woff2') format('woff2'),
       url('../fonts/Gotham-Book.woff') format('woff'),
       url('../fonts/Gotham-Book.ttf') format('truetype'),
       url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg'),
       url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Gotham-Book' !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
   /* list-style: none;*/
    padding: 0;
    margin: 0;
}


input,
textarea {
    padding: 2px 5px;
}

.section {
    position: relative;
    padding: 50px 0px;
}

.section-top{
    padding-top: 30px;
}

.container {
    margin: 0px;
    position: relative;
}

.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.cover-bg {
    object-fit: cover;
    width: 100%;
}

.wp-post-image{
    max-height: 500px;
    object-fit: cover;
    object-position: top;
}

.menu-main-menu-container{
    float: right;
    padding: 2px 0px;
    text-align: center;
    margin-top: 15px;
}

.current-menu-item a{
    color: #00ccff !important;
}

.site-header{
    padding: 25px 0px;
    text-align: center;
}

.top-header{
/*    background: #56BCCC;
    color: #fff;*/
    background: #f5f5f5;
    color: #999999;
    padding: 8px 0px;
    font-size: 13px;
}

.top-social-icons{
    padding: 0px;
    margin: 0px;
    float: right;
    right: 0px;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    top: 0px;
}

.top-social-icons li{
    display: inline-block;
    vertical-align: top;
    margin: 0px 3px;
}

.fa-top-header{
    color: #00ccff;
    padding: 4px;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    text-align: center;
}
.iconmedia{
    width: 64px !important;
    height: 64px !important;
    

}
.fa{
    color: #00ccff;
}

.fa-grey{
    color: #888888;

}
.contactusadd{
    text-align: center !important;
    font-size: 18px;
}

.bx-viewport{
    max-height: 500px !important;
}
.bx-viewport1{
    max-height: 150px !important;
}
.carousel-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   
}

.carousel-content{
    height: 90px;
    margin-left: 10px;
    color: #fff;
}

.feature-widget-icons{
    font-size: 33px !important;
    color: #00ccff;
    background: #eeeeee;
    width: 82px;
    line-height: 78px !important;
    height: 82px;
    position: absolute;
    left: 0;
    text-align: center;
    top: 0;
    border-radius: 50%;
    border: 2px solid #fff;
}

.home-widget-icon:hover .feature-widget-icons{
    background: #00ccff;
    color: #eeeeee;
}

.home-widget-icon:hover .widget-icon{
    border: 2px solid #00ccff;
}

.widget-content{
    text-align: center;
}

.widget-solid{
    background: #56BCCC;
}

.icon-white, .text-white{
    color: #fff !important;
}

.widget-icon{
    border: 2px solid #eeeeee;
    border-radius: 50%;
    height: 86px;
    width: 86px;
    text-align: center;
    margin: 0 auto;
    line-height: 86px;
    padding: 10px;
    position: relative;
}

.widget-title{
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 15px;
    color: #444444;
}

.widget-description{
    
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.bg-page{
    background-image: url(../img/parallax_bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 250px; 
    color: #fff;
    padding: 0px !important;
}

.grey-page{
    background-color: #f5f5f5;
    min-height: 300px; 
    color: #444;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.img-bg-overlay{
    background: rgba(19,192,223,0.65);
    padding: 50px 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    border-top: 1px solid #42a8b2;
    border-bottom: 1px solid #42a8b2;
}

.img-bg-overlay-dark{
    background: rgba(51,54,55,0.75);
    padding: 50px 0px;
    position: absolute;
    width: 100%;
    height: 100%;
   
}

.img-bg-overlay-dark .page-title{
    color: #fff;
}

.page-title{
    font-size: 28px;
    text-align: center;
    letter-spacing: 1px;
    color: #444444;
    text-transform: uppercase;
    line-height: 28px;
    padding-bottom: 10px;


}

.title-space{
    margin-top: 40px;
}

.intro-description{
    text-align: center;
    padding: 0px 20px 20px;
    width: 80%;
    margin: 10px auto;
    font-size: 16px;
}

.learn-more{
    background: #00ccff;
    width: 140px;
    padding: 6px 0px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}

/* STATISTIC WIDGET */

.count-divider{
    background-color: #afafaf;
    height: 2px;
    width: 20px;
    margin: 0 auto;
    text-align: center;
}

.stat-unit{
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 10px;
    color: #afafaf;
    text-align: center;
}

.stat-count{
    font-size: 28px;
    color: #eee;
    text-align: center;
}

.img-bg-overlay-dark .title-space{
    margin-top: 30px;
}

.testimonial-item{
    max-width: 450px;
    text-align: center;
    margin: 40px auto 0px
}

.testimonial-content{
    color: #888;
    font-size: 14px;
    margin-bottom: 10px;
}

.t-position, .t-location{
    color: #888;
    font-size: 14px;
}

.t-name{
    color: #444;
    font-size: 17px;
}

.t-divider{
    background-color: #888;
    height: 2px;
    width: 20px;
    margin: 0 auto;
}

.t-award{
    color: #444;
    margin-top: 15px;
}

/* HOME WIDGET */

/* TOP PERFORMER */

.tp-container{
    text-align: center;
    color: #444;
}

.top-performer-img{
    border-radius: 50%;
    margin: 40px auto 20px;
}

.banner-story-img{
    border-radius: 50%;

}

.lgu-partner-img{
    border-radius: 50%;
    width: 150px !important;
    height: 150px !important;
}

.team-img-all{
    height: 300px;
    width: 250px;
    max-width: 100%;
    max-height: auto;
    border-radius: 1%;



 
}
.fafa-designation{
    padding-bottom: 20px;
}
/* ABOUT US */

.about-page p{
    color: #f0f0f0;
}


.list-check{
    font-size: 18px !important;
    vertical-align: middle;
    margin-right: 10px;
}

.about-widget-content ul{
    padding: 0;
    list-style: none;
    margin: 0;
    margin-top: 20px;
}

.about-widget-content ul li{
    padding: 5px 0px;
    color: #888888;
}

.about-widget-img{
    max-height: 300px;
    text-align: center;
    margin: 0 auto;
}

.sub-content{
    color: #888;
    font-size: 14px;
}




/* LATEST POST */
.post-inner-content{
    border: 1px solid #e5e5e5;
    padding: 20px;
    width: 48%;
    float: left;
    height: 100%;
    border-radius: 5px;
    margin-right: 4%;
    margin-bottom: 20px;
}

.post-inner-content:nth-child(even){
    margin-right: 0 !important;
    clear: right;
}

.post-inner-content img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.post-inner-content .entry-title{
    font-size: 18px;
    color: #000;
    font-weight: bold;
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */F16+, Chrome26+, Opera12+, Safari7+ */
}

.post-img{
    display: inline-block;
    vertical-align: top;
}

.post-excerpt{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 85px);
    padding-left: 20px;
}

.post-inner-content .entry-date{
    font-size: 12px;
    font-style: italic;
    padding-bottom: 5px;
}

/* FOOTER */

footer{
    background: #f5f5f5;
    padding: 15px 5px;
    color: #262626;
    text-align: center;
}

footer ul{
    list-style: none;
    margin: 15px 0px;
}

footer ul li{
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    font-size: 16px;
}

.fa-footer{
    color: #313137;
    background: #fff;
    padding: 10px 13px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 24px !important;
}

.fa-footer-icon{
    font-size: 20px !important;
    color: #ccc;
    padding-right: 10px;
    vertical-align: middle;
}

.wah-logofooter{
    margin-top: -15px;
    height: 150px;
}


.copyright{
    text-align: center;
    padding: 15px;
    
}

.wah-logo {
    position: absolute;
    left: 0;
    width: 150px;
    top: 12px;
}

.wah-name{
    font-size: 35px;
    text-decoration: none;
    font-weight: bold;
    color: #00aaff;
    font-family: 'arial';
    
}
.footertel{
    margin-top: -10px;
}

/* ........................ INNER PAGE ........................ */

.post-feature-img img{
    max-height: 400px;
    object-fit: cover;
    object-position: top;
}

.entry-content{
    margin: 50px 0px;
}

.sub-header-bg{
    margin-top: 50px;

}


/* MEET THE TEAM*/

.team-img{
    padding: 5px;
    border: 1px solid #e7e7e7;
    margin: 0 auto;
    max-height: 150px;
    max-height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.position-container{
    margin-top: 20px;
}

.position-type{
    padding: 6px 20px;
    color: #fff;
    line-height: 40px;
    margin-left: 3px;
}

.position-border{
    width: 25px;
    height: 8px;
    margin: 8px 0px;
}

.team-list{
    margin-bottom: 30px;
}

.development{
    background: #4ca7c6;
    color: #fff;
}

.specialist{
    background: #c47c41;
    color: #fff;
}

.associate{
    background: #a6b687;
    color: #fff;
}

.management{
    background: #d37283;
    color: #fff;
}

.supervisor{
    background: #6b9ca0;
    color: #fff;
}
.designation{
    font-size: 16px;
}

/*  STATISTIC   */

.dashboard-stat{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.stat-col{
    background: #f5f5f5;
    padding: 20px;
    font-size: 16px;
    border: 5px solid #fff; 
}

.stat-col:not(:first-child):before{
    content: "";
    position: absolute;
    left: 0;
    height: 65px;
    border-left: 2px solid #e7e7e7;
}

.stat-number{
    color: #00ccff;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

.graph-container{
    margin-top: 20px;
}

.progress{
    float: left;
    width: 100%;
    height: 10px !important;
    margin-bottom: 8px !important; 
}

.progress-bar{
    background-color: #00ccff !important;
    background-image: none !important;
    opacity: 0.3;
}

.total-numbers{
    float: right;
    width: 35%;
    padding-left: 15px;
    text-align: right;
    color: #444;
}

.graph-widget{
    border: 1px solid #e7e7e7;
    padding: 15px;
    margin-top: 30px;
    display: inline-block;
    vertical-align: top;
    width: 31%;
    margin-right: 2%;
    min-height: 310px;
}

.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.chart-legend, .doughnat-value{
    display: inline-block;
    vertical-align: top;
    list-style: none;
    margin-right: 15px;
}

.chart-legend ul{
    list-style: none;
}

.officer-img{
    width: 200px;
}

.officer-list{
    margin-top: 30px;
}

.officer-name{
    font-size: 24px;
}

/* ................... SIDEBAR ................ */

.widget{
    margin-bottom: 30px;
}

.widget h4{
    margin-top: 0px;
    text-align: center;
    background: #f5f5f5;
    padding: 8px;
    color: #444;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}

.widget ul{
    list-style: none;
}

.widget ul li:not(:last-child) {
    margin-bottom: 7px;
    padding-bottom: 8px;
    border-bottom: 1px dotted #d5d5d5;
}

.widget li a{
    color: #888;
    text-decoration: none;
}

.widget li a:hover{
    color: #444;
};

#searchsubmit{
    background-color: #00ccff;
    border: none;
    color: #fff;
    padding: 4px 10px;
}



/*  SERVICES */



.level{
    width: 100%;
    margin: 0px auto;
}
.level .nav-tabs {
    position: relative;
    margin: 5px auto;
    margin-bottom: 0;
    box-sizing: border-box;

}

.level > div.board-inner{
    background-color: #f5f5f5
}


.liner{
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 90%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    z-index: 1;
}

.level .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.level .nav-tabs > li.active > a, .level .nav-tabs > li.active > a:hover, .level .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    border: 0;
    border-bottom-color: transparent;
}

div.round-tabs{
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #00ccff;
    background-size: 60px 60px;
    z-index: 2;
    position: relative;
    left: 0;
    text-align: center;
    font-size: 25px;
    border: 1px solid #ccc;
}

div.round-tabs i{
    color: #fff;

}

.active .round-tabs{
    border: 1px solid #00ccff !important;
}
.active .milestone-round-color{
    border: 1px solid #00ccff !important;
}

.active div.round-tabs i{
    color: #00ccff !important;
}


.level .nav-tabs > li.active > a div.round-tabs{
    background: #fafafa;
}
.level .nav-tabs > li {
    width: 20%;
    text-align: center;
    padding: 25px 0px;
}

.milestone-tab{
    width: 12% !important;
}
.level .nav-tabs > li:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition:0.1s ease-in-out;
    
}
.level .nav-tabs > li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #00ccff;
    
}
.level .nav-tabs > li a{
   width: 70px;
   height: 70px;
   margin: 20px auto;
   border-radius: 100%;
   padding: 0;
}

.level .nav-tabs > li a:hover{
    background: transparent;
}

.tab-content{
}
.tab-pane{
    position: relative;
    padding-top: 50px;
}

.service-table ul{
    list-style: none;
}

.service-title{
    text-align: center;
    color: #444444;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 50px;
}

.service-item-title{
    color: #000;
    font-size: 12px;
    margin-top: 10px;
}

.active .service-item-title{
    color: #00ccff !important;
}

.services-field-content .table tr td:first-child {
    border-right: 1px solid #ddd;
}

.services-field-content .table tr:first-child td {
    border-top: 0 none;
}

.servicesstory{
    width: 300px !important;
}

/* CLOUDS */

*{ margin: 0; padding: 0;}


#clouds{
    padding: 150px 0;
  
   background: url('../img/line.png') center center no-repeat #e6f5ff;
}

/*Time to finalise the cloud shape*/
.cloud {
    width: 200px; height: 60px;
    background: #fff;
    
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    
    position: relative; 
}

.cloud:before, .cloud:after {
    content: '';
    position: absolute; 
    background: #fff;
    width: 100px; height: 80px;
    position: absolute; top: -15px; left: 10px;
    
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 120px; height: 120px;
    top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
    -webkit-animation: moveclouds 15s linear infinite;
    -moz-animation: moveclouds 15s linear infinite;
    -o-animation: moveclouds 15s linear infinite;
    opacity: 0.5;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
    left: 200px;
    
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6; /*opacity proportional to the size*/
    
    /*Speed will also be proportional to the size and opacity*/
    /*More the speed. Less the time in 's' = seconds*/
    -webkit-animation: moveclouds 25s linear infinite;
    -moz-animation: moveclouds 25s linear infinite;
    -o-animation: moveclouds 25s linear infinite;
}

.x3 {
    left: -250px; top: -200px;
    
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/
    
    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}

.x4 {
    left: 470px; top: -250px;
    
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.75; /*opacity proportional to the size*/
    
    -webkit-animation: moveclouds 18s linear infinite;
    -moz-animation: moveclouds 18s linear infinite;
    -o-animation: moveclouds 18s linear infinite;
}

.x5 {
    left: -150px; top: -150px;
    
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/
    
    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}

/* MILESTONE */


.bgimgmilestone{
    padding: 100px 0px 0px 100px;
    margin-left: 80px;
    background: url('../img/line.png');
    background-repeat:no-repeat;
    background-size:100%;
    height: 800px;
    background-position:center;
}
.milestone{
    position: absolute;
    left: -10px;
    top: -150px;
}

.year09{
    top: -27px;
    left: 1px;
}
.year10{
    top: 370px;
    left: -100px;
}
.year11{
    top: 400px;
    left: 60px;
}
.year12{
    top: -25px;
    left: -40px;
}
.year13{
    top: 20px;
    left: 118px;
}
.year14{
    top: 375px;
    left: 18px;
}
.year15{
    top: -27px;
    left: 185px;
}
.year16{
    top: 375px;
    left: 70px;
}
.bannerstory{
    height: 800px !important;
}
.sitemap img{
   vertical-align: center;
   height: 110%;
   width: 100%;
   }
.partner{
    font-size: 1.5vw; }


/* PULSE GROW */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}



/* Modal */

.btmposition{
    position: absolute;
    left: 80%;

}
.test{
    height: 220px !important;
}

.header-carousel{
    font-weight: bold !important;
    font-size: 25px !important;
    margin-left: 20px !important;
    color: #fff !important;
   
}

.header-all {
    background-color: #00ccff;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
}

/* POST BG */
.post-1{
    
    border-bottom-color: rgba(255, 255, 255, 0.8);/*purple*/
    background-color: rgba(174,168,211,1.0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
    position: relative;
    color: #404040;
}
.post-2{
     border-bottom-color: rgba(255, 255, 255, 0.8);/*green*/
    background-color: rgba(129,207,224,1.0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
    position: relative;
    color: #404040;
    
}
.post-3{
  border-bottom-color: rgba(255, 255, 255, 0.8);/*blue*/
    background-color: rgba(134, 226, 213,1.0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
    position: relative;
    color: #404040;
}
.post-4{
  border-bottom-color: rgba(255, 255, 255, 0.8);/*red*/
    background-color: rgba(253, 227, 167,1.0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
    position: relative;
    color: #404040;
}
.milestone-bg-tabs{
    background-color: #fff;
}

.readmore-color{
    color: #404040 !important;
     text-align: right !important;
    font-family: 'arial';
}
.iconcolor{
    color: #404040 !important;
     
}




.header-services{
    font-size: 20px;
    font-weight: bold;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-left: 25%;
    color:#00ccff;

}
.servicesbg{
    background-color: #fff;
}

.services-content{
    padding-top: 10px;
    padding-right: 500px;
    padding-bottom: 50px;
    padding-left: 100px;
    text-align: center;
    font-size: 14px;

}

.services-space{
    margin-left: 1%;
    margin-top: 8px;
     box-shadow: 3px 3px 3px #888888;
}

/* 
 *  Owl Carousel CSS3 Transitions 
 *  v1.3.2
 */

.owl-origin {
    -webkit-perspective: 1200px;
    -webkit-perspective-origin-x : 50%;
    -webkit-perspective-origin-y : 50%;
    -moz-perspective : 1200px;
    -moz-perspective-origin-x : 50%;
    -moz-perspective-origin-y : 50%;
    perspective : 1200px;
}
/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}
.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}

/*
*   Owl Carousel Owl Demo Theme 
*   v1.3.3
*/

.owl-theme .owl-controls{
    margin-top: 10px;
    text-align: center;
}

/* Styling Next and Prev buttons */


/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
    min-height: 150px;
    background: url(AjaxLoader.gif) no-repeat center center
}


.page-title1{
    text-align: left !important;
}
.partnerpad{
    margin-bottom: 20px;
}

.infocontactus{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 20px;
    padding-top: 40px;
     padding-bottom: 40px;
    border-right: 2px solid #8c8c8c;
    border
}
.infocontactus1{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 18px;
    padding-top: 25px;
     padding-bottom: 40px;
   
}
.mailcolor{
    color: #00ccff;

}

.awardspace{
    margin-left: 30px;
}
/* wah team */
.teampix{
      border-radius: 50%;

}
.teampix1{
    padding-right: 80px;
    padding-top: 30px;
}

.teamed{
   padding-left: 50px !important;

}
.teamfont{
    color: #fff;
}


/* board of trustees*/

.title1{
    padding-top: 30px !important;
    font-size: 28px;
    text-align: center;
    letter-spacing: 1px;
    color: #444444;
    text-transform: uppercase;
}


.bannerstory{
    width: auto;
    height: auto;
}
.college-text{
    font-style: italic;
    color: #19afb7;
    margin-bottom: 10px;
}
.img-college{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10%;
}

.yyy{
    padding-left: 20px;
    margin-left: 30px;
}

/* CAREERS 

.careers-bg{
    background-color: blue; opacity: .;
  }
  */

.luzon{
    background: #d37283;
    color: #fff;
}
.visayas{
    background: #6b9ca0;
    color: #fff;
}
.mindanao{
    background: #a6b687;
    color: #fff;
}